/javaNetBeans/nbproject/private/
/javaNetBeans/build/
/javaNetBeans/Aritmetica/nbproject/private/
/javaNetBeans/Aritmetica/build/
/javaNetBeans/Caja/nbproject/private/
/javaNetBeans/Caja/build/
/javaNetBeans/Empleado/nbproject/private/
/javaNetBeans/Empleado/build/
/javaNetBeans/Pruebas/nbproject/private/
/javaNetBeans/Pruebas/build/
/javaNetBeans/Arreglos/nbproject/private/
/javaNetBeans/Arreglos/build/
/javaNetBeans/Encapsulamiento/nbproject/private/
/javaNetBeans/Encapsulamiento/build/
/javaNetBeans/Herencia/nbproject/private/
/javaNetBeans/Herencia/build/
/javaNetBeans/Juego/nbproject/private/
/javaNetBeans/Juego/build/
/javaNetBeans/JavaApplication13/nbproject/private/
/javaNetBeans/JavaApplication13/build/
/javaNetBeans/MundoPC/nbproject/private/
/javaNetBeans/MundoPC/build/
/javaNetBeans/FacturaTienda/nbproject/private/