body {
  background-color: rgb(17, 55, 104);
}
h1 {
  color: rgb(235, 122, 47);
  position: fixed;
}
#row ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(36, 166, 218);
}
#row li a {
    color:darkblue;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

#row li a [target] {
    position: absolute;
}

#row li a:hover:not(.active) {
    text-decoration: underline;
    background-color: rgb(143, 173, 85);
}
#row li {
  float: left;
}
.active {
  background-color: rgba(128, 255, 0, 0.527);
}
.button1 {
  position: fixed;
}
p {
  color: rgba(255, 255, 255, 0.582);
}
a {
  color: rgb(255, 255, 255);
}
form {
margin: 30px;
}
label{
    color:lightgreen;
}

input[type="text"]{
  background-color:lightcoral;
  color:aqua;
}
input:focus{
  background-color:blue
}
input{
  color:aqua;
  background-color: cornflowerblue;
  border: 1px solid lightgreen;
  border-radius: 5px;
  width: 40%;
  height:20px;
  margin-top: 5px;
}